/*      //    ABOUT   //        */

div > picture img {
  display: inline-block;
  margin: 0;
  animation: fadeIn;
  animation-duration: 4.5s;
  border-radius: 100rem;
}

// MEDIA QUERIES //

@media screen and (min-width: 992px) {
  .titular {
    padding-top: 6rem;
  }
}
