/*      //    ABOUT   //     */

@media screen and (min-width: 992px) {
  .titular {
    &__about {
      padding-top: 4rem;
    }
  }
}

@media screen and (min-width: 1024px) {
  .titular {
    line-height: 1.5;

    &__about {
      font-size: calc(2.35rem + 1.2vw);
      padding-top: 6rem;
    }
  }
}

/*      //    ABOUT-ANIMACIONES   //     */

div > picture img {
  display: inline-block;
  margin: 0;
  animation: bounceInRight;
  animation-duration: 1s;
  border-radius: 20rem;
}
