/*      //    PORTFOLIO     //     */

.card {
  --bs-card-spacer-y: 1rem;
  --bs-card-spacer-x: 1rem;
  --bs-card-title-spacer-y: 0.5rem;
  --bs-card-title-color: ;
  --bs-card-subtitle-color: ;
  --bs-card-border-width: var(--bs-border-width);
  --bs-card-border-color: var(--bs-border-color-translucent);
  --bs-card-border-radius: var(--bs-border-radius);
  --bs-card-box-shadow: ;
  --bs-card-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
  --bs-card-cap-padding-y: 0.5rem;
  --bs-card-cap-padding-x: 1rem;
  --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
  --bs-card-cap-color: ;
  --bs-card-height: ;
  --bs-card-color: #a8a8c7;
  --bs-card-bg: #131313;
  --bs-card-img-overlay-padding: 1rem;
  --bs-card-group-margin: 0.75rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: var(--bs-card-height);
  color: var(--bs-body-color);
  word-wrap: break-word;
  background-color: var(--bs-card-bg);
  background-clip: border-box;
  border: var(--bs-card-border-width) solid var(--bs-card-border-color);
  border-radius: var(--bs-card-border-radius);
}

.text-body-secondary {
  --bs-text-opacity: 1;
  color: $color-texto !important;
}

.card-text {
  text-align: center;
}
/*      //    PORTFOLIO MEDIAQUERIES  //     */

@media screen and (min-width: 300px) {
  .titular {
    &__portfolio {
      font-size: calc(2.35rem + 1.2vw);
      padding-top: 4rem;
    }
  }
}

@media screen and (min-width: 768px) {
  .titular {
    &__portfolio {
      padding-top: 5rem;
    }
  }
}

@media screen and (min-width: 1024px) {
  .titular {
    line-height: 1.5;

    &__portfolio {
      padding-top: 6rem;
    }
  }
}

/*      //    PORTFOLIO ANIMACIONES   //     */

section > div h1 {
  display: inline-block;
  margin: 0;
  animation: bounceInDown;
  animation-duration: 1s;
}
