/*      //    SKILLS   //     */

.titular {
  &__skills {
    font-size: calc(2rem + 1.2vw);
  }
}

.skills {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  margin: 50px 20px 20px 20px;
  padding: 60px 20px 20px 20px;
  font-size: 18px;

  &__list {
    list-style: initial;
    columns: 2;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 810px) {
  .skills {
    margin: 100px 50px 10px 50px;
    padding: 50px 50px 10px 50px;
  }
}
@media screen and (min-width: 1024px) {
  .skills {
    margin: 100px 100px 10px 100px;
    padding: 50px 50px 10px 100px;
  }
}
@media screen and (min-width: 1400px) {
  .skills {
    margin: 90px 100px 0px 100px;
    padding: 50px 50px 0px 300px;
  }
}

/*      //    LISTAS   //     */

.lista__item::marker {
  font-family: "Material Icons";
  content: "";
  color: #f6be5f;
  font-size: 16px;
}

.tag-list {
  padding: 0px;

  &__item {
    position: relative;
    display: inline-block;
    max-width: 55px;
    height: 55px;
    background-color: #30334a;
    border-radius: 2rem;
    color: #c7c7db;
    margin: 5px 15px 5px 0;
    overflow: hidden;
    padding: 12px 28px;
    transition: 0.5s;
  }

  &__icon::before {
    font-size: 29px;
    position: absolute;
    left: 28px;
    top: 28px;
    color: var(--heading-cl);
    transform: translate(-50%, -50%);
  }
}

/*      //    SKILLS-ANIMACIONES   //     */

div > article ul li {
  display: inline-block;
  margin: 0;
  animation: bounceIn;
  animation-duration: 1.5s;
  animation-delay: 0s;
}
