/*      //    RESET CSS   //     */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $color-fondo;
  color: $color-texto;
}

main {
  display: block;
}

ul,
ol {
  list-style: none;
}
