/*      // TYPOGRAPHY  //     */
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

h1 {
  color: white;
}

h2,
h3,
h4,
h5 {
  font-family: "Lato", sans-serif;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 120%;
  line-height: 1.5;
  margin-top: 0;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

  a {
    color: $color-link;
    font-weight: 500;
    text-decoration: none;

    &:hover {
      color: $color-link-hover;
    }
  }
}

.gradiente-t__orange {
  background-image: linear-gradient(109.8deg, #f6be5f -6.35%, #fa9875 105.29%);
  font-style: normal;
  background-clip: border-box;
  font-weight: 700;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.gradiente-t__matrix {
  background-image: linear-gradient(109.8deg, #73ff00 -6.35%, #00c8c3 105.29%);
  font-style: normal;
  background-clip: border-box;
  font-weight: 700;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.gradiente-t__discord {
  background-image: linear-gradient(45deg, #5865f2 0%, #7983f5 50%, #a5b4fc 100%);
  font-style: normal;
  background-clip: border-box;
  font-weight: 700;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.gradiente-t__github {
  background-image: linear-gradient(45deg, #ffffff 0%, #6e6e6e 50%, #ffffff 100%);
  font-style: normal;
  background-clip: border-box;
  font-weight: 700;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.gradiente-t__linkedin {
  background-image: linear-gradient(45deg, #0a66c2 0%, #1479d8 50%, #33a1ff 100%);
  font-style: normal;
  background-clip: border-box;
  font-weight: 700;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.gradiente-t__instagram {
  background-image: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 30%,
    #dc2743 60%,
    #cc2366 80%,
    #bc1888 100%
  );
  font-style: normal;
  background-clip: border-box;
  font-weight: 700;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.gradiente-t__twitter {
  background-image: linear-gradient(45deg, #1da1f2 0%, #69c9ff 50%, #a6e7ff 100%);
  font-style: normal;
  background-clip: border-box;
  font-weight: 700;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.overline {
  font-family: "Roboto Mono", monospace;
  font-size: calc(1rem + 1vw);
  line-height: 1.5;
  margin-bottom: 10px;
}
